<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> <%= includeThemeNamePascal %> </title>
  <base href="/" />
  <meta name="description" content="your description here" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="manifest" href="manifest.webmanifest" />
  <meta name="theme-color" content="#1976d2" />
  <link rel="manifest" href="manifest.webmanifest" />
  <link href="assets/css/libraries/ng-select.css" />
  <meta name="theme-color" content="#1976d2" />
  <script>
    window.ShadyDOM = {
      force: true
    };

  </script>
</head>

<body>
  <app-root></app-root>
  <!-- <script src="https://unpkg.com/@p_mac/datatables.webcomponent/dist/datatables.webcomponent.js"></script> -->
  <!-- <script src="src/app/shared/components/data-grid/dist/index.js"></script> -->
  <noscript>Please enable JavaScript to continue using this application.</noscript>
</body>

</html>