<div class="container">
  <form
    class="row needs-validation"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
    novalidate
  >
    <div
      class="form-group col-12"
      [ngClass]="loginForm.controls.email.touched ? 'was-validated' : ''"
    >
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="emailPlaceHolder"
        i18n-placeholder=""
        formControlName="email"
        required
      />
      <div i18n="@@invalidEmail" class="invalid-feedback"></div>
    </div>

    <div
      class="form-group col-12"
      [ngClass]="loginForm.controls.password.touched ? 'was-validated' : ''"
    >
      <input
        i18n="@@passwordPlaceHolder"
        type="password"
        class="form-control"
        id="password"
        placeholder=""
        formControlName="password"
        required
      />
      <div
        i18n="@@invalidPassword"
        *ngIf="
          loginForm.controls.password.errors &&
          loginForm.controls.password.errors.required
        "
        class="invalid-feedback"
      ></div>
    </div>

    <div class="col-6"></div>
    <div class="col-6 text-right">
      <button i18n="@@submit" type="submit" class="btn btn-primary">
        submit
      </button>
    </div>
  </form>
</div>
