<footer class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 text-center text-lg-left mb-5 mb-lg-0">
        <ul class="row">
          <li class="footer-logo col-12 col-lg-5">
            <a href="">
              <img title="logo w-50" src="./assets/images/monshaat_new_logo.png">
            </a>
            <a href="">
              <img class="ml-2 w-50" src="./assets/images/mc-logo.svg" alt="" />
            </a>
          </li>

          <li class="col-12 col-lg-7 black logo-title">
            منشآت <br> جميع الحقوق محفوظة © 2020
          </li>
        </ul>
      </div>
      <div class="menu-footer-list col-12 col-md-6 col-lg-3  text-center text-lg-left mb-5 mb-lg-0">

      </div>

      <div class="col-6 col-lg-2 text-center text-lg-left p-0">
        <ul class="d-flex justify-content-center flex-wrap socialMediaSection">
          <li class="social-icon twitter">
            <a target="_blank" href="https://twitter.com/MonshaatSA?s=1">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li class="social-icon facebook">
            <a target="_blank" href="https://www.facebook.com/MonshaatSA/">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li class="social-icon youtube">
            <a target="_blank" href="https://www.youtube.com/channel/UCajQIzMWeWK9bRQv5Ue3oUQ">
              <span class="icon-youtube-2"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
