<h1>Welcome to ,  Angular CLI by yeoman ^_^ </h1>
  <h1><%= includeProjectName %></h1>
  <%_ if (includeKecklock) { %>
      <p>Include Kecklock</p>
  <%_ }  -%>
  <%_ if (includeWithoutIS) { %>
      <p>Include WithoutIS</p>
  <%_ }  -%>
  
  <%_ if (includeArLang) { %>
      <p>Arabic Name Selecte</p>
      <%_ } 
  -%>
  <%_ if (includeMultiTheme) { %>
      <p>include multitheme</p>
      <%_ } else { -%>
      <p>defult theme</p>
      <%_ } -%>

      <%_ if (includeMCI) { %>
          <p>Include MCI</p>
      <%_ }  -%>

