@import "../../assets/scss/main"; 


.footer__social {
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    .footer__social {
        text-align: center !important;
    }
    .footer__phone {
        display: none;
    }
  }
