<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3   text-right">
        <span class="footer__phone mr-4">
          <img src="./assets/mci/images/tel.svg" width="25px" height="17px"/>
          <span> 9200000667</span>
        </span>
      </div>

      <div class="col-md-5 text-center">
        <span class="footer__copyright"
          >جميع الحقوق محفوظة وزارة التجارة والاستثمار &copy; 2019</span
        >
      </div>

      <div class="col-xs-12  col-md-4 hidden-xs">
        <div class="footer__social">
          <span class="footer__social__facebook ml-3">
            <a href="https://www.youtube.com/user/SaudiMCI" target="_blank">
              <img src="./assets/mci/images/Combined Shape-4.svg" width="25px" height="17px"/>
            </a>
          </span>
          <span class="footer__social__instgram ml-3">
            <a href="https://www.instagram.com/saudimci/" target="_blank">
              <img src="./assets/mci/images/inst.svg" width="25px" height="17px" />
            </a>
          </span>
          <span class="footer__social__facebook ml-3">
            <a href="https://www.facebook.com/SaudiMCI" target="_blank">
              <img src="./assets/mci/images/facebook.svg" width="25px" height="17px"/>
            </a>
          </span>

          <span class="footer__social__twitter ml-3">
            <a href="https://twitter.com/SaudiMCI" target="_blank">
              <img src="./assets/mci/images/tw.svg" width="25px" height="17px"/>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
