<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= includeTitle %></title>
</head>
<body>
    <h1><%= includeTitle %></h1>
    <%_ if (includeKecklock) { %>
        <p>Include Kecklock</p>
    <%_ }  -%>
    <%_ if (includeWithoutIS) { %>
        <p>Include WithoutIS</p>
    <%_ }  -%>
    
    <%_ if (includeArLang) { %>
        <p>Arabic Name Selecte</p>
        <%_ } 
    -%>
    <%_ if (includeMultiTheme) { %>
        <p>include multitheme</p>
        <%_ } else { -%>
        <p>defult theme</p>
        <%_ } -%>

        <%_ if (includeMCI) { %>
            <p>Include MCI</p>
        <%_ }  -%>

        <%_ if (includeAboutUs) { %>
            <a href="pages/about-us.html">About Us</a>
        <%_ }  -%>
</body>
</html>